@media (max-width: 800px) {

    .header {
        padding-bottom: 560px;
    }

    .navigation, .account {
        display: none;
    }

    .category {
        font-size: 14px;
    }

    .link-button {
        
    }

    .nav__button {
        display: block;
    }

    .mobile__nav--active {
        display: flex;
    } 

    .main__title {

        h1 {
            font-size: 55px;
        }
    }

    .tips__article {
        &--container {
            flex-direction: column;
        }

        &--text {
            display: block;
            width: 30%;
            margin-top: 100px;

            h1 {
                margin-top: 27px;
                margin-bottom: 27px;

                font-family: 'Chronicle';
                font-size: 40px;
                font-weight: 600;
                line-height: normal;
            }

            p {
                line-height: 1.777;
                &.article--text {
                    margin-bottom: 27px;
                }
            }
        }

        img {
            display: block;
            padding-top: 20px;
            width: 29%;
        }
    }

    .article__1, .article__3 {
        margin-left: 0;
        margin-right: 0;
    
        .article__number {
            position: absolute;
    
            top: 60px;
            left: -5px;
    
            width: 100px;
            height: 100px;
            font-size: 100px;
            line-height: 1;
            opacity: 0.10000000149011612;
    
        }
    }
    
    .article__2 {
        position: relative;
        margin-left: 0;
    
        .article__number {
            position: absolute;
    
            top: -40px;
            left: -5px;
    
            width: 100px;
            height: 100px;
            font-size: 100px;
            line-height: 1;
            opacity: 0.10000000149011612;
        }
    }




}