main {
    .container {
        padding-top: 200px;
    }
}

.tips__article {
    margin-bottom: 200px;

    &--container {
        display: flex;
        justify-content: end;

        position: relative;
    }

    &--text:hover {

        .link--button p {
        color: $accent-color;
        transition: color 0.2s ease-in;
        }

        svg {
            fill: $accent-color;
            transition: fill 0.2s ease-in;
        }

    }
    

    .link--button {
        svg {
            align-self: center;
        }
    }

}

.tips__article--text {
    display: block;
    width: 632px;

    margin-top: 141px;

    h1 {
        margin-top: 27px;
        margin-bottom: 27px;

        font-family: 'Chronicle';
        font-size: 64px;
        font-weight: 600;
        line-height: normal;
    }

    p {
        line-height: 1.777;
        &.article--text {
            margin-bottom: 27px;
        }
    }
}

.article__1 {
    margin-left: 150px;
    margin-right: 114px;

    .article__number {
        position: absolute;

        top: 38px;
        left: 0;

        width: 240px;
        height: 240px;
        font-size: 240px;
        line-height: 1;
        opacity: 0.10000000149011612;

    }
}

.article__2 {
    margin-left: 264px;

    .article__number {
        position: absolute;

        top: 38px;
        left: 680px;

        width: 240px;
        height: 240px;
        font-size: 240px;
        line-height: 1;
        opacity: 0.10000000149011612;
    }
}

